@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");


.pagination {
  justify-content: center;
}

.check-for-outlets {
  position: absolute;
}

.manage-current-user {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;

}

@media screen and (min-width: 768px) {
  .manage-current-user {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
  }
}

.create-customer {
  padding: 5%;
}
