<div class="row">
  <div class="col-sm-3 mb-3 mt-3 offset-md-1">
    <p>To create a new user, you must first choose customer and outlet!!!</p>

    <select #inputCustomer class="form-control" (change)="getCustomer($event.target.value)">
      <option selected disabled=""> Select customer: </option>
      <option *ngFor="let customer of customers">
        {{ customer.brand }}
      </option>
    </select>

    <select [disabled]="disableOutletInput" class="form-control" (change)="getOutlet($event.target.value)">
      <option selected disabled=""> Select customer: </option>
      <option *ngFor="let outlet of outlets"> {{ outlet.location }} </option>
    </select>
    <app-register (emitUser)="registerUser($event)"></app-register>
  </div>
  <div class="col-sm-7 mb-7 mt-3">
    <table class=" table table-striped table-responsive-md btn-table mb-md-0">
      <thead>
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Created on:</th>
          <th>Brand:</th>
          <th>Outlet:</th>
          <th>Role:</th>
          <th>Delete</th>
        </tr>
      </thead>
      <div class="check-for-outlets" *ngIf="users && users.length === 0">
        No results yet!
      </div>
      <tbody *ngFor="let user of users | paginate: { itemsPerPage: 10, currentPage: p, id: 'allUsers' }; index as i">
        <tr>
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ user.userName }}</td>
          <td>{{ user.createdOn | date }}</td>
          <td>{{ user.brandName.brandName }}</td>
          <td>{{ user.outletName.location }}</td>
          <td>User</td>
          <td>
            <i class="fa fa-trash fa-2x" aria-hidden="true" (click)="getUserIdToDelete(user.id)" data-toggle="modal"
              data-target="#confirmation"></i>
            <!-- <button type="button" class="btn btn-danger" (click)="getUserIdToDelete(user.id)" data-toggle="modal"
              data-target="#confirmation">
              Delete
            </button> -->
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls class="pagination" id='allUsers' (pageChange)="this.p = $event"></pagination-controls>
  </div>

</div>
