<div class="row">
  <div class="form"></div>

  <div class="col-sm">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="auth-centered">
        <div class="form-group">
          <label for="inputName" class="col-form-label">Name</label>

          <div class="">
            <input #inputName formControlName="name" type="text" class="form-control" id="inputName"
              placeholder="Name" />
            <div *ngIf="
                !!this.registerForm.controls.name.invalid &&
                !!this.registerForm.controls.name.dirty
              ">
              <p *ngIf="!!this.registerForm.controls.name.errors.required" class="error-text">
                Please enter username.
              </p>
              <p *ngIf="!!this.registerForm.controls.name.errors.minlength" class="error-text">
                Username must be at least 3 characters long.
              </p>
              <p *ngIf="
                  !!this.registerForm.controls.name.errors.forbiddenUsername &&
                  !!this.registerForm.controls.name.errors.forbiddenUsername
                    .value
                ">
                This username is forbidden!
              </p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="inputEmail3" class="col-form-label">Email</label>
          <div class="">
            <input #inputEmail formControlName="email" type="email" class="form-control" id="inputEmail3"
              placeholder="Email" />
            <div *ngIf="
                !!this.registerForm.controls.email.invalid &&
                !!this.registerForm.controls.email.dirty
              ">
              <p *ngIf="!!this.registerForm.controls.email.errors.required" class="error-text">
                Please enter email.
              </p>
              <p *ngIf="!!this.registerForm.controls.email.errors.minlength" class="error-text">
                Email must be at least 7 characters long.
              </p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="inputPassword3" class="col-form-label">Password</label>
          <div class="">
            <input #inputPassword formControlName="password" type="password" class="form-control" id="inputPassword3"
              placeholder="Password" value="" />
            <div *ngIf="
                !!this.registerForm.controls.password.invalid &&
                !!this.registerForm.controls.password.dirty
              ">
              <p *ngIf="!!this.registerForm.controls.password.errors.required">
                Please enter password.
              </p>
              <p *ngIf="!!this.registerForm.controls.password.errors.pattern">
                The password must be at least 6 symbols long and must have at
                least one lower case letter, one upper case letter, one number
                and one special symbol.
              </p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="">
            <button type="submit" (click)="inputName.value = ''" (click)="inputEmail.value = ''"
              (click)="inputPassword.value = ''" class="btn btn-primary" [disabled]="registerForm.invalid">
              Register
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
