<div id="admin" class="card gedf-card redemption-records">
  <form>
    <div class="form-group form-inline">
      Full text search:
      <input class="form-control ml-2" type="text" [formControl]="filter" />
    </div>
  </form>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">User</th>
        <th scope="col">Feature</th>
        <th scope="col">Action</th>
        <th scope="col">Item</th>
        <th scope="col">Created on</th>
      </tr>
    </thead>
    <div class="check-for-records" *ngIf="activityRecords && activityRecords.length === 0">
      No results yet!
    </div>
    <tbody
      *ngFor="let record of activityRecords$ | async | paginate: { itemsPerPage: 10, currentPage: p, id: 'activity' }; index as i">
      <tr>
        <th scope="row">{{ i + 1 }}</th>
        <td>
          <ngb-highlight [result]="record.modifyingUserName" [term]="filter.value"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="record.featureType" [term]="filter.value"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="record.actionType" [term]="filter.value"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="record.itemName" [term]="filter.value"></ngb-highlight>
        </td>

        <td>
          <ngb-highlight [result]="record.createdOn | date" [term]="filter.value"></ngb-highlight>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls class="pagination" id='activity' (pageChange)="this.p = $event"></pagination-controls>
</div>
