.icon {
  size: 24px;
}

.card {
  cursor: pointer;
  border-left: 1px solid grey !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #f3f3f3;
  border-radius: 5px !important;
  min-width: 90%;
  margin: 10px auto;
}

@media (min-width: 769px) {
  .card {
    min-width: inherit;
  }

  .card:hover {
    background-color: #ffffff;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

.fas {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.fas::after {
  display: flex;
}
