<div class="container">
  <div class="row">
    <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
      <A href=""></A>

      <A href=""></A>
      <br>
      <p class=" text-info"></p>
    </div>
    <div
      class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">


      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">{{username}}</h3>
        </div>
        <div class="panel-body">
          <div class="row">

            <div class=" col-md-9 col-lg-9 ">
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td>Brand:</td>
                    <td>{{brandName}}</td>
                  </tr>
                  <tr>
                    <td>Outlet location:</td>
                    <td>{{outlateName}}</td>
                  </tr>
                  <tr>
                    <td>Hired on: </td>
                    <td>{{createdOn | date: 'short' }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
