<div class="wrapper d-flex flex-column">
  <app-navbar
    [loggedIn]="isLogged"
    [username]="username"
    (emitLogout)="logout()"
    [role]="role"
  ></app-navbar>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <app-footer (emitIssue)="submitIssue($event)"></app-footer>
</div>
