<div class="error-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ">
        <div class="error-text">
          <h1 class="error">404 Error</h1>
          <h4>Oops! This page Could Not Be Found!</h4>
          <p>
            Sorry but the page you are looking for does not exist, have been
            removed or name changed.
          </p>
          <a class="btn btn-primary btn-round" (click)="this.homeNavigate(role)"
            >Go to homepage</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
