  <div class="card gedf-card manage-admin">

    <app-register (emitUser)="registerUser($event)"></app-register>

    <table class="table table-striped table-responsive-md btn-table col-sm-6 mb-3 mb-md-0">
      <thead>
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Created on: </th>
          <th> Role: </th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody *ngFor="let admin of admins | paginate: { itemsPerPage: 10, currentPage: p, id: 'allAdmins' }; index as i">
        <tr>
          <th scope="row"> {{i + 1}}</th>
          <td> {{ admin.userName }} </td>
          <td> {{admin.createdOn | date }} </td>
          <td> Admin </td>
          <td>
            <i class="fa fa-trash fa-2x" aria-hidden="true" (click)="adminToDelete(admin.id)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <pagination-controls class="pagination" id='allAdmins' (pageChange)="this.p = $event"></pagination-controls>
